@font-face {
  font-family: "Gilroy";
  src: url("../Fonts/Gilroy Font/Gilroy-Bold.woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Gilroy";
  src: url("../Fonts/Gilroy Font/Gilroy-Regular.woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("../Fonts/Gilroy Font/Gilroy-SemiBold.woff");
  font-style: normal;
  font-weight: 600;
}

.container {
  /* border: 1px solid black; */
  width: 50%;
  margin: 6em auto;
  text-align: center;
  font-family: Gilroy;
  padding: 1.5em 0em;
}

.container h1 {
  font-weight: 700;
  color: #ffffff;
  font-size: 3.5em;
  margin: 0.4em 0em;
}

.container p {
  /* border: 1px solid black; */
  width: 70%;
  margin: 0em auto 2.5em auto;
  font-size: 0.9rem;
  line-height: 1.8rem;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 400;
}

.container button {
  width: 35%;
  font-size: 1.2rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(313.78deg, #2855ae -3.15%, #7292cf 100%, #7292cf 100%);
  border-radius: 33px;
  border: #2855ae;
  color: #ffffff;
  font-family: Gilroy;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 4em;
  height: 3.5rem;
}

.container button:hover {
  background: #2855ae;
}

.container button:active {
  background: #7292cf;
}

@media (max-width: 676px) {
  .container {
    width: 80%;
    margin: 5em auto;
    padding: 10em 0em 10em 0em;
    /* formerly 5em */
  }

  .container h1 {
    font-size: 2rem;
    width: 90%;
    margin: auto;
    line-height: 3rem;
  }

  .container p {
    /* border: 1px solid black; */
    width: 90%;
    margin: 2em auto 2.5em auto;
    font-size: 0.6rem;
    line-height: 1.5rem;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
  }

  .container button {
    width: 80%;
    font-size: 0.9rem;
    padding: 0.8em;
    margin-bottom: 4em;
    height: 3rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 60%;
    padding: 5em 0em;
    margin: 8em auto;
  }

  .container h1 {
    font-size: 2rem;
    width: 85%;
    margin: auto;
  }

  .container p {
    width: 80%;
    font-size: 1.5rem;
    margin: 2em auto;
  }

  .container button {
    width: 60%;
    font-size: 1.2rem;
    padding: 0.8em;
    margin-bottom: 4em;
  }
}
