@font-face {
  font-family: "Gilroy";
  src: url("../Fonts/Gilroy Font/Gilroy-Bold.woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Gilroy";
  src: url("../Fonts/Gilroy Font/Gilroy-Regular.woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("../Fonts/Gilroy Font/Gilroy-SemiBold.woff");
  font-style: normal;
  font-weight: 600;
}

.container {
  /* border: 2px solid black; */
  /* height: 4em; */
  background: #f2f3f8;
}

.subContainer {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 1.7em 0.5em;
}

.subContainer div {
  /* border: 2px solid black; */
  align-content: center;
  margin-top: 1em;
}

.subContainer div img {
  width: 3.8rem;
  height: 3.8rem;
}

.subContainer div h4 {
  display: inline-block;
  position: relative;
  bottom: 10px;
  left: 16px;
  width: 60%;
  font-family: Gilroy;
  font-weight: 700;
  font-size: 24px;
  line-height: 35.26px;
  color: #303030;
  letter-spacing: 3%;
}

@media (max-width: 676px) {
  .container {
    margin: 4em 0em;
    padding: 2em 0em;
  }

  .subContainer {
    flex-direction: column;
    width: 60%;
    margin: auto;
    text-align: center;
  }

  .subContainer div {
    /* border: 2px solid black; */
    margin: 3em;
  }

  .subContainer div h4 {
    display: block;
    position: static;
    width: 85%;
    margin: 0.5em auto;
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .subContainer {
    width: 90%;
  }
}
