@font-face {
  font-family: "Gilroy";
  src: url("../Fonts/Gilroy Font/Gilroy-Bold.woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Gilroy";
  src: url("../Fonts/Gilroy Font/Gilroy-Regular.woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("../Fonts/Gilroy Font/Gilroy-SemiBold.woff");
  font-style: normal;
  font-weight: 600;
}

.container {
  /* border: 2px solid black; */
  /* height: 4em; */
  background: #f2f3f8;
}

.subContainer {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 1.7em 0.5em;
}

.subContainer div {
  /* border: 2px solid black; */
  align-content: center;
  margin-top: 1em;
}

.subContainer div img {
  width: 3.8rem;
  height: 3.8rem;
}

.subContainer div h4 {
  display: inline-block;
  position: relative;
  bottom: 10px;
  left: 16px;
  width: 50%;
  font-family: Gilroy;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: #303030;
}

@media (max-width: 676px) {
  .container {
    border: 1px solid black;
    display: none;
  }
}
