@font-face {
  font-family: "Gilroy";
  src: url("../Fonts/Gilroy Font/Gilroy-Bold.woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Gilroy";
  src: url("../Fonts/Gilroy Font/Gilroy-Regular.woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("../Fonts/Gilroy Font/Gilroy-SemiBold.woff");
  font-style: normal;
  font-weight: 600;
}

.container {
  width: 90%;
  margin: 8em auto 2em auto;
}

.container h2 {
  text-align: center;
  font-family: Gilroy;
  font-weight: 600;
  color: #1a1a1a;
}

.subContainer {
  display: flex;
  justify-content: space-between;
}

.subContainer div {
  margin: 2em 1em;
  width: 35%;
  text-align: center;
  background: #f2f3f8;
  border-radius: 24px;
  padding: 4em 3em 4em 3em;
}

.subContainer div h4 {
  font-family: Gilroy;
  font-weight: 600;
  color: #1a1a1a;
  font-size: 1.2rem;
  margin: 0.8em auto 0.8rem auto;
}

.subContainer div p {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 16px;
  color: #1a1a1a;
  width: 100%;
  margin: 0.5em auto;
  line-height: 1.5rem;
}

@media (max-width: 676px) {
  .container {
    /* border: 1px solid black; */
    width: 90%;
    margin: auto;
    margin: 1em;
  }
  .subContainer {
    flex-wrap: wrap;
  }

  .subContainer div:nth-child(3) {
    order: 2;
  }

  .subContainer div {
    margin: 1em 1em;
    width: 100%;
    padding: 3em 1em;
  }

  .subContainer div h4 {
    margin: 0.8em;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    /* border: 1px solid black; */
    width: 90%;
    margin: 2em auto;
  }
  .subContainer {
    flex-wrap: wrap;
  }

  .subContainer div {
    /* border: 1px solid black; */
    margin: 1em auto;
    width: 80%;
    padding: 3em 0em;
  }
}
