.headSection {
  background: url("../Images and Icons/Landing Page Background 2.png");
  /* border: 1px solid black; */
  background-repeat: no-repeat;
  background-size: 100%;
}

@media (max-width: 767px) {
  .headSection {
    object-fit: cover;
    background-repeat: repeat;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .headSection {
    /* border: 3px solid black; */
    object-fit: cover;
    background-repeat: repeat;
  }
}
