@font-face {
  font-family: "Gilroy";
  src: url("../Fonts/Gilroy-Light.woff");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Gilroy";
  src: url("../Fonts/Gilroy-Bold.woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Avenir";
  src: url("../Fonts/AvenirLTStd-Black.otf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Avenir";
  src: url("../Fonts/AvenirLTStd-Roman.otf");
  font-style: normal;
  font-weight: 100;
}

.container {
  /* border: 3px solid black; */
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding-top: 1.5em;
}

.logoSection {
  width: 30%;
}

.logoSection img {
  width: 45%;
  height: 100%;
}

.actionSection {
  width: 30%;
  padding-top: 1em;
  text-align: right;
}

.actionSection a {
  margin: 0em 2em 0em 0em;
  text-decoration: none;
  color: #ffffff;
  font-family: Gilroy;
  font-weight: 100;
}

.actionSection button {
  width: 45%;
  font-size: 0.9rem;
  padding: 0.8em;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(313.78deg, #2855ae -3.15%, #7292cf 100%, #7292cf 100%);
  border-radius: 33px;
  border: #2855ae;
  color: #ffffff;
  font-family: Avenir;
  font-weight: 100;
  font-size: 0.9em;
  cursor: pointer;
  height: 2.5rem;
}

.actionSection button:hover {
  background: #2855ae;
}

.actionSection button:active {
  background: #7292cf;
}

.sideNavOpener {
  display: none;
}

.sideNav {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
  width: 0;
  background-color: #e5e5e5;
  padding-top: 60px;
  transition: 0.3s;
}

.sideNav .sideNavLink {
  width: 99%;
  margin: 2em auto;
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  display: inline-block;
  transition: 0.3s;
  text-align: center;
}

.sideNav a:hover {
  color: grey;
}

.sideNav .btnClose {
  position: absolute;
  top: 0;
  font-size: 36px;
  background: transparent;
  border: none;
  color: #b4b4b4;
  text-align: right;
  width: 30%;
  margin-left: 68%;
}

.getStartedbutton {
  width: 80%;
  text-align: center;
  margin: auto;
}

.getStartedbutton button {
  width: 50%;
  font-size: 0.9rem;
  padding: 0.6em;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(313.78deg, #2855ae -3.15%, #7292cf 100%, #7292cf 100%);
  border-radius: 33px;
  border: #2855ae;
  color: #ffffff;
  font-family: Gilroy;
  font-weight: 700;
  cursor: pointer;
  font-size: 1.5rem;
}

.getStartedbutton button:hover {
  background: #2855ae;
}

.getStartedbutton button:active {
  background: #7292cf;
}

@media (max-width: 767px) {
  .sideNavOpener {
    display: block;
  }
  .logoSection img {
    width: 100%;
    height: 100%;
  }
  .actionSection {
    display: none;
  }

  .getStartedbutton button {
    font-size: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .sideNavOpener {
    display: block;
    position: relative;
  }
  .logoSection img {
    width: 80%;
    height: 100%;
  }
  .actionSection {
    display: none;
  }
}
