.container{
    display: flex;
    justify-content: space-between;
    /* font-family: Gilroy; */
}


.pictureSection{
    width: 50%;
}

.formSection{
    /* border: 1px solid purple; */
    background-color: #FCFCFC;
    width: 50%;
}

.formSection .signUp{
    /* border: 1px solid purple; */
    width: 60%;
    margin: auto;
    padding: 2em;
    text-align: center;
}

@media (max-width: 644px){
    .pictureSection{
        display: none;
    }

    .formSection{
        width: 100%;
    }
}