@font-face {
    font-family: "Gilroy";
    src: url('./Fonts/Gilroy-Light.woff');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Gilroy";
    src: url('./Fonts/Gilroy-Bold.woff');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Avenir";
    src: url('./Fonts/AvenirLTStd-Black.otf');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Avenir";
    src: url('./Fonts/AvenirLTStd-Roman.otf');
    font-style: normal;
    font-weight: 100;
}

.yspLogo{
    /* border: 2px solid black; */
    width: 30%;
    height: 20%;
    margin: 1em 0em;
}

.container h1{
    /* border: 2px solid black; */
    font-family: Gilroy;
    font-weight: 700;
    color: #444F60;
    
}

.googleSignUp{
    border: 1px solid #F2F2F2;
    border-radius: 33px;
    background-color: white;
    font-family: Avenir;
    font-weight: 500;
    font-size: .8em;
    color: #444F60;
    padding: .5em 0em;
    margin-top: 3rem;
}

.googleSignUp a{
    text-decoration: none;
    font-family: Gilroy;
    font-weight: 100;
    font-size: .9rem;
    font-family: Avenir;
    color: #444F60;
    height: 100%;
    width: 100%;
    margin: 0rem;
}

.googleSignUp span{
    position: relative;
    bottom: 13px;
}

.googleSignUp img{
    width: 35px;
    height: 35px;
}

.emailSignUp{
    /* border: 2px solid black; */
    font-family: Gilroy;
    font-weight: 100;
    font-size: 1.1rem;
    margin: 1.5em 0em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.emailSignUp div{
    width: 33.3%;
}

.emailSignUp div a{
    /* border: 2px solid black; */
    text-decoration: none;
    margin: 0em;
}

.line hr{
    border: .5px solid #F2F2F2;
}

.text{
    color: #999999;
    font-family: Gilroy;
    font-size: .8em;
}

.inputClass{
    /* border: 1px solid black; */
    margin: 1.5em 0em;
}

.textInput{
    border: 3px solid rgba(126, 139, 182, 0.3);
    border-radius: 10px;
    width: 99%;
    height: 2em;
    margin: .7em 0em;
    padding: .7em;
}

.textInput_invalid{
    border: 3px solid red;
    border-radius: 10px;
    width: 99%;
    height: 2em;
    margin: .7em 0em;
    padding: .7em;
}

.textInput:focus{
    border: 3px solid #2855AE;
    outline: none;
}

.textInput_invalid:focus{
    border: 3px solid red;
    outline: none;
}

.textInput::placeholder{
    color: #999999;
    font-family: Gilroy;
    font-weight: 100;
}

.textInput_invalid::placeholder{
    color: #999999;
    font-family: Gilroy;
    font-weight: 100;
}

input[type = "text"]{
    font-family: Gilroy;
    font-weight: 100;
    font-size: 1rem;
}

input[type = "password"]{
    font-family: Gilroy;
    font-weight: 100;
    font-size: 1rem;
}

.warning{
    /* border: 1px solid black; */
    display: block;
    text-align: left;
    margin: 0em .3em;
    position: relative;
    bottom: 12px;
    font-size: .8rem;
    color: red;
}

.check{
    display: flex;
    justify-content: space-between;
    margin: .6em 0em;
}

.checkbox{
    width: 4%;
    background-color: green;
    cursor: pointer;
}

.checkboxText{
    display:inline;
    color: #999999;
    font-family: Gilroy;
    font-weight: 100;
    font-size: .8rem;
    text-align: left;
    width: 93%;
}

.button{
    border-radius: 33px;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(313.78deg, #2855AE -3.15%, #7292CF 100%);
    color: white;
    font-family: Avenir;
    font-weight: 100;
    font-size: 1rem;
    padding: 1em;
    border: 1px solid linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(313.78deg, #2855AE -3.15%, #7292CF 100%);
    cursor: pointer;
    box-shadow: 0px 4px 20px rgba(50, 145, 255, 0.3);
}

.button:hover{
    background: #2855AE;
    border: 1px solid #2855AE;
}

.button:active{
    background: #444F60;
    /* color: black; */
    border: 1px solid #444F60;
}

.loginOption{
    font-family: Gilroy;
    font-weight: 100;
    color: #444F60;
}

.loginOption a{
    color: #444F60;
    font-weight: 700;
    margin-left: .5em;
}