.container{
    display: flex;
    justify-content: space-between;
    /* font-family: Gilroy; */
}


.pictureSection{
    width: 50%;
}

.formSection{
    /* border: 1px solid purple; */
    background-color: #FCFCFC;
    width: 50%;
}

.formSection .signUp{
    /* border: 1px solid purple; */
    width: 60%;
    margin: auto;
    padding: 2em;
    text-align: center;
}

@media (max-width: 767px){
    .pictureSection{
        display: none;
    }

    .formSection{
        width: 100%;
    }
    
}

    @media (min-width: 768px) and (max-width: 1023px){
        .pictureSection{
            display: none;
        }

        .formSection{
            width: 100%;
        }
    }